/* Estilo para la barra de navegación */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #343a40; /* Nuevo color (gris oscuro) */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para la barra de navegación */
}

.nav-link {
  text-decoration: none;
  color: #fff; /* Cambiar el color del texto a blanco para mejor contraste */
  font-weight: bold;
  padding: 10px 15px; /* Aumentar el padding para un mejor clic */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.nav-link:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.1); /* Efecto de zoom */
}

/* Estilo para los componentes (cuadros) */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px; /* Añadir padding a la contenedor */
}

.card {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  flex-basis: calc(33% - 40px); /* Tres columnas */
  transition: transform 0.3s; /* Transición suave al hacer hover */
}

.card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.card p {
  font-size: 16px;
  color: #666;
}

.boton {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave */
}

.boton:hover {
  background-color: darkblue; /* Cambio de color al pasar el mouse */
}
