/* Estilos generales */
body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.MuiContainer-root {
  padding: 40px;
  background: linear-gradient(135deg, #ffffff, #e0e0e0); /* Fondo degradado */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  margin: 40px auto;
  max-width: 1200px;
}

.text-image-container {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y la imagen */
  gap: 30px; /* Espacio entre el texto y la imagen */
}

.text-content {
  flex: 1; /* El texto ocupa exactamente la mitad */
  color: #555;
  line-height: 1.6;
  padding-right: 20px; /* Añade un poco de espacio entre el texto y la imagen */
}

.image-content {
  flex: 1; /* La imagen ocupa exactamente la mitad */
  text-align: center; /* Centra la imagen horizontalmente */
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

/* Estilo del botón */
button {
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

button:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

/* Efecto de sombra en la imagen */
.image-content img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
  .text-image-container {
      flex-direction: column; /* Apila el texto sobre la imagen en pantallas pequeñas */
      text-align: center;
  }

  .text-content {
      margin-bottom: 20px;
      padding-right: 0; /* Elimina el padding en pantallas pequeñas */
  }
}